
*{

    padding:0;
    margin: 0;
    box-sizing: border-box;
   
    
}
body{
  font-family: "Barlow Semi Condensed", sans-serif;
   font-weight: 500; 
   font-style: normal;
   font-display: swap;
   min-width: 100%;
}
 /* layout*/
 .main{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
 }
 .container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr  ;
 grid-template-rows: 1fr 1fr;
 grid-template-areas: "box-1 box-1 box-2 box-3" "box-4 box-5 box-5 box-3";
 row-gap: 30px;
 column-gap: 50px;
 height: fit-content;
 width: 70%;
 }
 .div-1{
  position: relative;
 }
 /* box shadow */
 .box-shadow{
   box-shadow:  hsla(224, 10%, 45%, 0.473) 20px 20px 100px 0 !important;
   border-radius: 15px;
 }
/* inner box layout */
 .structure{
  display: flex;
  flex-direction: column;
  padding: 45px;
  gap: 30px;
 }
 /* about-div arrangement */
 .arrange{
  display: flex;
  width: 100%;
 }
/* image circle */
 .pic-style img{
  border-radius: 50px;
 }
/* name padding */
 .text-style{
  font-size: 1.2rem;
 }
 /* box-1 & box-5 name width */
 .mar-1{
width: 91%;
margin-left: 4px;
 }
 /* box-2 box-3 box-4 name width*/
 .mar-2{
    width: 80%;
    margin-left: 4px;
 }
  /* box-1 & box-5 image width */
 .par-1{
width: 9%;
 }
 /* box-2 box-3 box-4 image width*/
 .par-2{
width: 20%;
 }
 /* image outline */
 #boder{
  border: solid 4px hsl(264, 82%, 80%);
 }
 .quote{
  position: absolute;
  right: 15%;
  transform: scale(1.6);
  top: 6.3%;
  
 }


 /* typography */

 .color-w{
  color: white;
 }
 .color-b{
  color: hsl(219, 29%, 14%);
 }
 .head-text{
  font-size: 2rem;
 }
 .write-up{
  font-size: 1.5rem;
 }
 .L-lenght{
   line-height:30px;
 }


 @media (max-width: 450px) {
  *{

    padding:0;
    margin: 0;
    box-sizing: border-box;
  }
body{
  margin: auto;
}
  .main{
    display: flex;
    padding: 3rem;
 }
  .container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "box-1" "box-1" "box-2" "box-4" "box-5" "box-5" "box-3" "box-3";
    row-gap: 30px;
    height: fit-content;
    width: 100%;
    }
 }
 .quote{
  display: none;
 }
 .arrange{
  display: flex;
  width: 100%;
  gap: 14px;
 }
 /* box-1 and box-2 name width*/
 .mar-1{
  width: 91%;
  margin-left: 10px;
   }
   /* box-2 box-3 box-4 name width*/
   .mar-2{
      width: 80%;
      margin-left: 4px;
   }
    /* box-1 & box-5 image width */
   .par-1{
  width: 9%;
   }
   /* box-2 box-3 box-4 image width*/
   .par-2{
  width: 20%;
   }
   .write-up{
    font-size: 1.2rem;
   }
   .head-text{
    font-size: 1.5rem;
    font-weight: 400;
   }
   .L-lenght{
    line-height:30px;
    font-weight: 400;
  }
 